<div class="container">
    <p *ngIf="products().length === 0">Loading products...</p>
  
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products()">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="https://via.placeholder.com/150" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Category: {{ product.category }}</p>
            <p class="card-text">Price: £{{ product.price }}</p>
            <p class="card-text">Quantity: {{ product.quantity }}</p>

            <button class="btn btn-primary">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  